*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul,p{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}
 li{
    list-style: none;
 }

header{
   background: #343459;
   padding: 10px 0;
 }


 .logo{
    
font-size: 26px;
    
font-weight: 700;
    
color: #fff !important;
 }

 .nav-item{

margin-left: 20px;
text-align: center;

}
 .nav-link{

font-size: 16px;

font-weight: 500;

color: #fff !important;

}










/* gallery section start */

.gallery_section{
    margin-bottom: 80px;
    text-align: center;
    padding-top: 80px;
}

.full_gallery{
    
padding-bottom: 60px;
}

.box img{
    width: 100%;
}



.box{
    position: relative;
    

}

.box_images{
    position: relative;
    
   

}

.box_images::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #3a3f58;
    opacity: 0;
    transition: .5s all ease-in-out;
   
}

.box_images:hover::before{
    opacity: .8;

}

.box_images img{
    

}

.box_icon{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}

.box_icon i{
    
font-size: 30px;
    
color: #fff;
    
width: 60px;
    
height: 60px;
    
border: 1px solid #e45441;
    
display: flex;
    
justify-content: center;
    
line-height: 60px;
    
align-items: center;
    
border-radius: 50%;
    
background: #e45441;
transition: .5s all ease-in-out;
}

.box_images:hover .box_icon{
    opacity: 1;
}




.gallery_section a{
    
font-size: 18px;
    
font-weight: 500;
    
border: 1px solid red;
    
padding: 10px 40px;
    
background: red;
    
border-radius: 5px;
    
color: #fff;
    
font-size: 600;
transition: .5s all ease-in-out;
}


.gallery_section a:hover{
    background: transparent;
    color: #000;

}


.gallery_text h2{

font-weight: 600;

padding-bottom: 30px;
}

/* gallery section end */











/* footer section start */
footer{

background: #343459;

padding: 60px 0 40px;
}
.footer_content1{

}

.footer_content1 h2{
    padding-bottom: 25px;

}

.footer_content1 p{

font-size: 18px;

color: #fff;

font-size: 400;
}





.footer_content2{

}

.footer_content2 h2{

}

.footer_content2 p{

font-size: 18px;

color: #fff;
}







.footer_content3{

}
.footer_content3 h2{

}
.footer_content3 p{
    cursor: pointer;

color: #fff;

font-size: 16px;

font-size: 400;
transition: .5s all ease-in-out;
}


.footer_content3 a{
    color: #fff;
    transition: .5s all ease-in-out;

}

.footer_content3 a:hover{
    color: red;
}



.footer_content3  i{

margin-right: 15px;

width: 20px;

padding-bottom: 18px;
}



.footer_content4{

}

.footer_content4 h2{

}

.footer_content4 i{

width: 40px;

height: 40px;

border: 1px solid #fff;

line-height: 40px;

text-align: center;

margin-right: 10px;
transition: .5s all ease-in-out;
}

.footer_content4 i:hover{
    color: red;
    border: 1px solid red;
}

.footer_content4 a{
    
color: #fff;
}


.footer_text{

color: #fff;

font-size: 30px;

padding-bottom: 25px;
}





.footer_down{

}

.footer_down p{
    
text-align: center;
    
padding: 20px 0;
    
font-size: 18px;
    
font-weight: 400;
    
font-size: 400;
}
/* footer section end */